* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ddf0ff;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 80%;
}

.logo {
  width: 75%;
}

.loginForm {
  border: none;
  border-radius: 10px;
  padding: 15px;
}

.btnmasuk .webix_el_box button,
.btnmasuk .webix_el_box button:hover,
.btnmasuk .webix_el_box button:focus {
  background-color: #316aff;
  color: white;
  border-radius: 7px;
}

.btndaftar .webix_el_box button,
.btndaftar .webix_el_box button:hover,
.btndaftar .webix_el_box button:focus {
  background-color: transparent;
  border: 1px solid #d5d7da;
  color: #414651;
  border-radius: 7px;
}

@media (min-width: 768px) {
  .wrapper-content {
    width: 35%;
  }

  .logo {
    width: 50%;
  }
}
