.btnSimpan .webix_el_box button,
.btnSimpan .webix_el_box button:hover,
.btnSimpan .webix_el_box button:focus {
  background-color: #316aff;
  color: white;
  border-radius: 7px;
  text-align: center;
}
